* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    max-width: 350px;
    font-family: "Outfit", sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(176, 167, 167, 0.5);
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    text-align: center;
    overflow: hidden; /* Prevents overflow */
}

.container img {
   
    max-width: 333px; /* Ensures the image doesn't exceed the original width */
    height: auto; /* Maintains aspect ratio */
    border-radius: 16px;
    margin-top: -9px;
}

.container h2 {
    padding: 15px;
    text-align: center;
    color: black;
}

.container p {
    margin-bottom: 17px;
    line-height: 1.5;
    font-size: 15px;
    color: gray;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    .container {
        max-width: 300px;
        padding: 20px;
    }
    .container img{
        max-width: 286px;
    }
}
